---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

type BlogEntry = CollectionEntry<"blog">;
const articles: BlogEntry[] = await getCollection("blog");
---

<BaseLayout>
  <section class="px-4 py-10 max-w-7xl mx-auto">
    <h1 class="text-4xl font-bold mb-8 text-center">Le blog</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        articles.map((article) => (
          <article class="border p-4 rounded-lg shadow hover:shadow-lg transition">
            {article.data.image && (
              <img
                src={article.data.image}
                alt={article.data.title}
                class="mb-4 rounded w-full h-48 object-cover"
              />
            )}
            <h2 class="text-xl font-semibold">{article.data.title}</h2>
            <p class="underline text-sm">{article.data.date}</p>
            <p class="mt-2">{article.data.description}</p>
            <a
              href={`/blog/${article.slug}/`}
              class="inline-block mt-4 text-blue-600 hover:underline font-medium"
            >
              Lire l’article →
            </a>
          </article>
        ))
      }
    </div>
  </section>
</BaseLayout>
